<div><img src="/images/tretauto-logo.jpg" alt="Tretauto Logo"></div>
<div class="narrow" style="width: 335px; float: left;">
<p class="left" style="width: 20px">
	<label>id:</label><br />
	<%= @auto.id %>
</p>
<p class="left hersteller">
  <label>Hersteller:</label><br />
  <%= @auto.hersteller %>&nbsp;
</p>
<p class="modell_">
  <label>Modell:</label><br />
  <%= @auto.modell %>&nbsp;
</p>
<p class="firstc left">
  <label>Land:</label><br />
  <%= @auto.land %>&nbsp;
</p>
<p class="secondc left">
  <label>Baujahr:</label><br />
  <%= @auto.baujahr %>&nbsp;
</p>
<br style="clear: both;">
<p class="typ">
  <label>Typ:</label><br />
  <%= @auto.typ %>&nbsp;
</p>
<p class="firstc left">
  <label>Status:</label><br />
  <%= @auto.status %>&nbsp;
</p>
<p class="secondc left">
  <label>Farbe:</label><br />
  <%= @auto.farbe %>&nbsp;
</p>
<p class="firstc left">
  <label>Konstruktion:</label><br />
  <%= @auto.konstruktion %>&nbsp;
</p>
<p class="secondc left">
  <label>Antrieb:</label><br />
  <%= @auto.antrieb %>&nbsp;
</p>
<p class="firstc left">
  <label>Raeder:</label><br />
  <%= @auto.raeder %>&nbsp;
</p>
<p class="secondc left">
  <label>Ausstattung:</label><br />
  <%= @auto.ausstattung %>&nbsp;
</p>




</div>
<div style="width: 230px; float: left; padding:25px 10px;">
<p>
	<% @auto.assets.each_with_index do |asset| %>

		<p><%= link_to image_tag(asset.asset.url(:thumb)), asset.asset.url(:original) %></p>
	
	<% end %>
</p>
</div>
<div class="narrow" style="width: 335px; float: left;">


<p>
  <label>Datenbanknr:</label><br />
  <%= @auto.datenbanknr %>
</p>
<p>
  <label>Datenbanknralt:</label><br />
  <%= @auto.datenbanknralt %>
</p>
<p>
  <label>Status:</label><br />
  <%= @auto.status %>
</p>
<p>
  <label>Farbe:</label><br />
  <%= @auto.farbe %>
</p>
<p>
  <label>Antrieb:</label><br />
  <%= @auto.antrieb %>
</p>
<p>
  <label>Konstruktion:</label><br />
  <%= @auto.konstruktion %>
</p>

<p>
  <label>Abmessungl:</label><br />
  <%= @auto.abmessungl %>
</p>
<p>
  <label>Abmessungb:</label><br />
  <%= @auto.abmessungb %>
</p>
<p>
  <label>Abmessungh:</label><br />
  <%= @auto.abmessungh %>
</p>
<p>
  <label>Gewichtinkg:</label><br />
  <%= @auto.gewichtinkg %>
</p>
<p>
  <label>Relevanz:</label><br />
  <%= @auto.relevanz %>
</p>
<p>
  <label>Geschaetztermarktwert:</label><br />
  <%= @auto.geschaetztermarktwert %>
</p>
<p>
  <label>Sonstiges:</label><br />
  <%= @auto.sonstiges %>
</p>
<p>
  <label>Anmerkungen:</label><br />
  <%= @auto.anmerkungen %>
</p>
<p>
  <label>Kaufdatum:</label><br />
  <%= @auto.kaufdatum %>
</p>
<p>
  <label>Ebaybenutzername:</label><br />
  <%= @auto.ebaybenutzername %>
</p>
<p>
  <label>Verkaeufer:</label><br />
  <%= @auto.verkaeufer %>
</p>
<p>
  <label>Ebayartikelnummer:</label><br />
  <%= @auto.ebayartikelnummer %>
</p>
<p>
  <label>Modellbeschreibung:</label><br />
  <%= @auto.modellbeschreibung %>
</p>
<p>
  <label>Farbekauf:</label><br />
  <%= @auto.farbekauf %>
</p>
<p>
  <label>Anmerkungnachkauf:</label><br />
  <%= @auto.anmerkungnachkauf %>
</p>
<p>
  <label>Zahlungsart:</label><br />
  <%= @auto.zahlungsart %>
</p>
<p>
  <label>Zahlungsdatum:</label><br />
  <%= @auto.zahlungsdatum %>
</p>
<p>
  <label>Waehrung:</label><br />
  <%= @auto.waehrung %>
</p>
<p>
  <label>Kaufpreis:</label><br />
  <%= @auto.kaufpreis %>
</p>
<p>
  <label>Transport:</label><br />
  <%= @auto.transport %>
</p>
<p>
  <label>Summe:</label><br />
  <%= @auto.summe %>
</p>
<p>
  <label>Ersatzteile:</label><br />
  <%= @auto.ersatzteile %>
</p>
<p>
  <label>Restaurier:</label><br />
  <%= @auto.restaurier %>
</p>
<p>
  <label>Gesamt:</label><br />
  <%= @auto.gesamt %>
</p>
</div>
<p class="button">
  <%= link_to "Editieren", edit_auto_path(@auto) %>
  <%= link_to "Löschen", @auto, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "Alle Autos anzeigen", autos_path %>
</p>
