<div><img src="/images/tretauto-logo.jpg" alt="Tretauto Logo"></div>
<div class="narrow" style="width: 335px; float: left; margin-left: -9px;">
<p class="left" style="width: 50px">
	<label>id</label><br />
	<%= @auto.id %>
</p>
<p class="left hersteller">
  <label>Hersteller</label><br />
  <%= @auto.hersteller %>&nbsp;
</p>
<p class="modell_">
  <label>Modell</label><br />
  <%= @auto.modell %>&nbsp;
</p>
<p class="firstc left">
  <label>Land</label><br />
  <%= @auto.land %>&nbsp;
</p>
<p class="secondc left">
  <label>Baujahr</label><br />
  <%= @auto.baujahr %>&nbsp;
</p>
<br style="clear: both;">
<p class="typ">
  <label>Typ</label><br />
  <%= @auto.typ %>&nbsp;
</p>
<p class="firstc left">
  <label>Status</label><br />
  <%= @auto.status %>&nbsp;
</p>
<p class="secondc left">
  <label>Farbe</label><br />
  <%= @auto.farbe %>&nbsp;
</p>
<p class="firstc left">
  <label>Konstruktion</label><br />
  <%= @auto.konstruktion %>&nbsp;
</p>
<p class="secondc left">
  <label>Antrieb</label><br />
  <%= @auto.antrieb %>&nbsp;
</p>
<p class="firstc left">
  <label>Raeder</label><br />
  <%= @auto.raeder %>&nbsp;
</p>
<p class="secondc left">
  <label>Ausstattung</label><br />
  <%= @auto.ausstattung %>&nbsp;
</p>
<p class="firstc left">
	  <label>Abmessungen LxBxH</label><br />
	  <span><%= number_with_precision(@auto.abmessungl, :precision => 1) %>&nbsp;</span>&nbsp;
	  <span><%= number_with_precision(@auto.abmessungb, :precision => 1) %>&nbsp;</span>&nbsp;
	  <span><%= number_with_precision(@auto.abmessungh, :precision => 1) %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Gewicht in kg</label><br />
  <%= @auto.gewichtinkg %>&nbsp;
</p>
<br style="clear:both">
<p class="firstc left">
  <label>Relevanz</label><br />
  <%= @auto.relevanz %>&nbsp;
</p>
<p class="secondc left">
  <label>Marktwert geschätzt</label><br />
  <%= number_with_precision(@auto.geschaetztermarktwert , :precision => 2) %>&nbsp;
</p>
<br style="clear:both">
<p>
  <label>Sonstiges</label><br />
  <%= @auto.sonstiges %>&nbsp;
</p>

</div>
<div style="width: 230px; float: left; padding:25px 10px;">
<p>
	<% @auto.assets.each_with_index do |asset| %>

		<p><%= link_to image_tag(asset.asset.url(:thumb)), asset.asset.url(:original) %></p>
	
	<% end %>
</p>
</div>

<div class="narrow" style="width: 335px; float: left; background: #ccc;">

<p class="left" style="width: 50px">
  <label>DB. alt</label><br />
  <%= @auto.datenbanknralt %>&nbsp;
</p>
<p class="left margin">
  <label>Kaufdatum</label><br />
  <%= @auto.kaufdatum %>&nbsp;
</p>
<p>
  <label>Verkaeufer</label><br />
  <%= @auto.verkaeufer %>&nbsp;
</p>
<p class="left firstc">
  <label>Ebay benutzername</label><br />
  <%= @auto.ebaybenutzername %>&nbsp;
</p>
<p class="left secondc">
  <label>Ebay artikelnummer</label><br />
  <%= @auto.ebayartikelnummer %>&nbsp;
</p>
<br style="clear:both;">
<p>
  <label>Modellbeschreibung</label><br />
  <%= @auto.modellbeschreibung %>&nbsp;
</p>
<br style="clear:both;">
<p class="left firstc">
  <label>Farbe kauf</label><br />
  <%= @auto.farbekauf %>&nbsp;
</p>
<p class="left secondc">
  <label>Anmerkung nach kauf</label><br />
  <%= @auto.anmerkungnachkauf %>
</p>
<br style="clear:both;">
<p class="left firstc">
  <label>Zahlungsart</label><br />
  <%= @auto.zahlungsart %>
</p>
<p class="left secondc">
  <label>Zahlungsdatum</label><br />
  <%= @auto.zahlungsdatum %>
</p>
<br style="clear:both;">
<p class="left" style="width:25%;">
  <label>Waehrung</label><br />
  <%= @auto.waehrung %>
</p>
<p class="left" style="width:25%;">
  <label>Kaufpreis</label><br />
  <%= number_with_precision(@auto.kaufpreis, :precision => 2) %>
</p>
<p class="left" style="width:25%;">
  <label>Transport</label><br />
  <%= number_with_precision(@auto.transport, :precision => 2) %>
</p>
<p class="left" style="width:25%;">
  <label>Summe</label><br />
  <%= number_with_precision(@auto.summe, :precision => 2) %>
</p>

<p class="left" style="width:25%;">
	&nbsp;
</p>

<p class="left" style="width:25%;">
  <label>Ersatzteile</label><br />
  <%= number_with_precision(@auto.ersatzteile, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Restaurier</label><br />
  <%= number_with_precision(@auto.restaurier, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Gesamt</label><br />
  <%= number_with_precision(@auto.gesamt, :precision => 2) %>&nbsp;
</p>
<br style="clear:both;">

<p class="left" style="width:25%;">
  <label>Fremdw.</label><br />
  <%= @auto.fw %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Kaufpreis</label><br />
  <%= number_with_precision(@auto.fwkaufpreis, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Transport:</label><br />
  <%= number_with_precision(@auto.fwtransport, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Summe:</label><br />
  <%= number_with_precision(@auto.fwsumme, :precision => 2) %>&nbsp;
</p>

<p class="left" style="width:25%;">
	&nbsp;
</p>

<p class="left" style="width:25%;">
  <label>Ersatzteile:</label><br />
  <%= number_with_precision(@auto.fwersatzteile, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Restaurier:</label><br />
  <%= number_with_precision(@auto.fwrestaurier, :precision => 2) %>&nbsp;
</p>
<p class="left" style="width:25%;">
  <label>Gesamt:</label><br />
  <%= number_with_precision( @auto.fwgesamt, :precision => 2) %>&nbsp;
</p>
</div>
<p class="button">
  <%= link_to "Editieren", edit_auto_path(@auto) %>
  <%= link_to "Löschen", @auto, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "Alle Autos anzeigen", autos_path %>
</p>
