<div><img src="/images/tretauto-logo.jpg" alt="Tretauto Logo"></div>
<div class="narrow" style="width: 335px; float: left; margin-left: -9px;">
<p class="left" style="width: 50px">
	<label>id</label><br />
	<span class="textfieldid"><%= @auto.id %></span>
</p>
<p class="left hersteller">
  <label>Hersteller</label><br />
  <span class="textfieldherst"><%= @auto.hersteller %>&nbsp;</span>
</p>
<p class="modell_">
  <label>Modell</label><br />
  <span class="textfieldherst"><%= @auto.modell %>&nbsp;</span>
</p>
<p class="firstc left">
  <label>Land</label><br />
  <span class="textfield"><%= @auto.land %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Baujahr</label><br />
  <span class="textfield"><%= @auto.baujahr %>&nbsp;</span>
</p>
<br style="clear: both;">
<p class="typ">
  <label>Typ</label><br />
  <span class="textfieldbig"><%= @auto.typ %>&nbsp;</span>
</p>
<p class="firstc left">
  <label>Status</label><br />
  <span class="textfield"><%= @auto.status %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Farbe</label><br />
  <span class="textfield"><%= @auto.farbe %>&nbsp;</span>
</p>
<p class="firstc left">
  <label>Konstruktion</label><br />
  <span class="textarea"><%= @auto.konstruktion %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Antrieb</label><br />
  <span class="textarea"><%= @auto.antrieb %>&nbsp;</span>
</p>
<p class="firstc left">
  <label>Raeder</label><br />
  <span class="textarea"><%= @auto.raeder %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Ausstattung</label><br />
  <span class="textarea"><%= @auto.ausstattung %>&nbsp;</span>
</p>
<p class="firstc left">
	  <label>Abmessungen LxBxH</label><br />
	  <span class="textfieldsmal left"><%= number_with_precision(@auto.abmessungl, :precision => 1) %>&nbsp;</span>
	  <span class="textfieldsmal left"><%= number_with_precision(@auto.abmessungb, :precision => 1) %>&nbsp;</span>
	  <span class="textfieldsmal left"><%= number_with_precision(@auto.abmessungh, :precision => 1) %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Gewicht in kg</label><br />
  <span class="textfield"><%= @auto.gewichtinkg %>&nbsp;</span>
</p>
<br style="clear:both">
<p class="firstc left">
  <label>Relevanz</label><br />
  <span class="textfield"><%= @auto.relevanz %>&nbsp;</span>
</p>
<p class="secondc left">
  <label>Marktwert geschätzt</label><br />
  <span class="textfield"><%= number_with_precision(@auto.geschaetztermarktwert , :precision => 2) %>&nbsp;</span>
</p>
<br style="clear:both">
<p>
  <label>Sonstiges</label><br />
  <span class="textfieldsonstiges"><%= @auto.sonstiges %>&nbsp;</span>
</p>

</div>
<div style="width: 230px; float: left; padding:25px 10px;">
<p>
	<% @auto.assets.each_with_index do |asset| %>

		<p><%= link_to image_tag(asset.asset.url(:small)), asset.asset.url(:original) %></p>
	
	<% end %>
</p>
</div>

<div class="narrow" style="width: 335px; float: left; background: #ccc;">

<p class="left" style="width: 51px">
  <label>DB. alt</label><br />
  <span class="textfieldid dark"><%= @auto.datenbanknralt %>&nbsp;</span>
</p>
<p class="left margin">
  <label>Kaufdatum</label><br />
  <span class="textfieldundef_ dark"><%= @auto.kaufdatum %>&nbsp;</span>
</p>
<p class="left" style="margin-left: -2px">
  <label>Verkaeufer</label><br />
  <span class="textfield_ dark"><%= @auto.verkaeufer %>&nbsp;</span>
</p>
<p class="left firstc">
  <label>Ebay benutzername</label><br />
  <span class="textfield_ dark"><%= @auto.ebaybenutzername %>&nbsp;</span>
</p>
<p class="left secondc">
  <label>Ebay artikelnummer</label><br />
  <span class="textfield_ dark"><%= @auto.ebayartikelnummer %>&nbsp;</span>
</p>
<br style="clear:both;">
<p>
  <label>Modellbeschreibung</label><br />
  <span class="textfieldbig_ dark"><%= @auto.modellbeschreibung %>&nbsp;</span>
</p>
<p class="left firstc">
  <label>Farbe kauf</label><br />
  <span class="textfield_ dark"><%= @auto.farbekauf %>&nbsp;</span>
</p>
<p class="left secondc">
  <label>Anmerkung nach kauf</label><br />
  <span class="textfield_ dark"><%= @auto.anmerkungnachkauf %></span>
</p>
<br style="clear:both;">
<p class="left firstc">
  <label>Zahlungsart</label><br />
  <span class="textfield_ dark"><%= @auto.zahlungsart %></span>
</p>
<p class="left secondc">
  <label>Zahlungsdatum</label><br />
  <span class="textfield_ dark"><%= @auto.zahlungsdatum %></span>
</p>
<br style="clear:both;">
<p class="left" style="width:25%;">
  <label>Waehrung</label><br />
  <span class="textfieldmid dark"><%= @auto.waehrung %></span>
</p>
<p class="left" style="width:25%;">
  <label>Kaufpreis</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.kaufpreis, :precision => 2) %></span>
</p>
<p class="left" style="width:25%;">
  <label>Transport</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.transport, :precision => 2) %></span>
</p>
<p class="left" style="width:25%;">
  <label>Summe</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.summe, :precision => 2) %></span>
</p>

<p class="left" style="width:25%;">
	&nbsp;
</p>

<p class="left" style="width:25%;">
  <label>Ersatzteile</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.ersatzteile, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Restaurier</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.restaurier, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Gesamt</label><br />
  <span class="textfieldmid dark "><%= number_with_precision(@auto.gesamt, :precision => 2) %>&nbsp;</span>
</p>
<br style="clear:both;">

<p class="left" style="width:25%;">
  <label>Fremdw.</label><br />
  <span class="textfieldmid dark"><%= @auto.fw %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Kaufpreis</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.fwkaufpreis, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Transport:</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.fwtransport, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Summe:</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.fwsumme, :precision => 2) %>&nbsp;</span>
</p>

<p class="left" style="width:25%;">
	&nbsp;
</p>

<p class="left" style="width:25%;">
  <label>Ersatzteile:</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.fwersatzteile, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Restaurier:</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision(@auto.fwrestaurier, :precision => 2) %>&nbsp;</span>
</p>
<p class="left" style="width:25%;">
  <label>Gesamt:</label><br />
  <span class="textfieldmid dark alignright"><%= number_with_precision( @auto.fwgesamt, :precision => 2) %>&nbsp;</span>
</p>
</div>
<p style="clear: both; border-top: 1px solid #AE0D1B; margin-right: 10px;"></p>
<p class="left">
	Blättern: 
	<%= link_to("voriger", @auto.previous ) if @auto.previous %>
	<%=	"voriger" if !@auto.previous %> | 
	<%= link_to("nächster", @auto.next) if @auto.next %>
	<%=	"nächster" if !@auto.next %>
	Datensatz
</p>
<p class="button">
  <%= link_to "Editieren", edit_auto_path(@auto) %>
  <%= link_to "Löschen", @auto, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "Alle Autos anzeigen", autos_path %>
</p>